---
export interface Props {
  formId: string;
  height?: string;
  className?: string;
}

const { formId, height = "800", className = "" } = Astro.props;
---

<div class={`form-embed-wrapper ${className}`}>
  <iframe 
    src={`https://docs.google.com/forms/d/e/${formId}/viewform?embedded=true`}
    width="100%" 
    height={height}
    frameborder="0" 
    marginheight="0" 
    marginwidth="0"
    class="google-form-embed"
  >
    Loading…
  </iframe>
</div>

<style>
.form-embed-wrapper {
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}

.google-form-embed {
  border: none;
  border-radius: 0.5rem;
}
</style> 